.doctor-dashboard-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}

.doctor-dashboard-page h1 {
    margin-top: 20px;
    font-size: 3.5em;
}

.doctor-dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    margin-bottom: 20px;
    overflow-y: scroll;
}